.body {
  font-family: fantasy;
}

.jumbotron-fluid {
  text-align: center;
  text-transform: uppercase;
}
.form-group {
  text-align: center;
}
.col-sm h5 {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-style: oblique;
}
.container-fluid {
  margin-top: 25px;
}
.table {

}
.table th {
  background: #163211;
  color: white;

}
