.body {
  font-family: "Amatic SC", cursive;
  font-weight: 400;
}
header {
  height: 250px;
  background-image: linear-gradient(to bottom, #919191, white);
  position: relative;
  font-family: "Amatic SC", cursive;
  font-size: 40px;
}

header h1 {
  font-family: "Amatic SC", cursive;
  color: #d6b136;
  font-size: 130px;
  font-weight: 700;
  padding-top: 0px;
  text-align: center;
}

.head-login {
  position: absolute;
  right: 20px;
  bottom: 10px;
  background: transparent;
}
.btn {
  height: 45px;
  width: 100px;
  margin: 0 15px;
  font-size: 700;
}

section {
  padding-top: 30px;
}

.form-group {
  text-align: center;
}
.col-sm h5 {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-style: oblique;
}
.container-fluid {
  margin-top: 25px;
}
.table {
  border: 5px solid #e6e6e6;
  border-radius: 5px;
}

.table th {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  font-size: 35px;
  background: #e6e6e6;
  color: #d6b136;
}
.table tr {
  border-bottom: 5px solid #e6e6e6;
}
