body {
  font-family: "Amatic SC", cursive;
  font-weight: 400;
}
header {
  height: 250px;
  background-image: linear-gradient(to bottom, #919191, white);
  position: relative;
  font-size: 40px;
}

header h1 {
  color: #d6b136;
  font-size: 130px;
  font-weight: 700;
  padding-top: 0px;
  text-align: center;
}

.head-login {
  position: absolute;
  right: 20px;
  bottom: 10px;
  background: transparent;
  font-size: 1.5rem;
}
.head-login .loginbutton {
  display: inline-block;
  color: white;
  background: #007bff;
  border: 1px solid #007bff;
  border-radius: 5px;
  padding: 0.375rem 0.75rem;
  font-weight: 400;

  text-decoration: none;
  text-align: center;
}

section {
  padding-top: 30px;
}

.col-sm h5 {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-style: oblique;
}
.container-fluid {
  margin-top: 25px;
}

form {
  text-align: center;
  margin: 20px 0;
}

label {
  display: none;
}
.form-group {
  display: inline-block;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.table {
  border: 5px solid #e6e6e6;
  border-radius: 5px;
}

.table th {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  font-size: 35px;
  background: #e6e6e6;
  color: #d6b136;
}
.table tr {
  border-bottom: 5px solid #e6e6e6;
}

@media (min-width: 768px) {
  label {
    display: initial;
  }
  .form-group {
    display: initial;
    width: initial;
  }
}
